.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.link {
  font-size: 18px;
  color: #1876ac;
}

.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

.titleWork {
  font-size: 24px;
  text-align: center;
}

.wrapperCompany {
  font-size: 22px;
  font-weight: bold;
}
.description {
  font-size: 18px;
  margin-top: 25px;
}
